# Latex files
/*.aux
/*.lof
/*.log
/*.out
/DP_Smolik_Jaroslav_2018.pdf
/*.toc
/*.bbl
/*.blg
/*.fdb_latexmk
/*.fls
/*.lol
/*.acn
/*.acr
/*.alg
/*.glg
/*.glo
/*.gls
/*.glsdefs
/*.ist
/*.lot
/*.mw
/_minted-*

# Source text files
/src/**/*.tex

# Compiled uml diagrams
/src/assets/diagram/**/*.pdf
